# dev set-up files
/scripts/entrypoint.dev.sh
/dev/

# media and static files
/app/mediafiles/
/app/staticfiles/

# test files
/tests/
/app/images/tests.py

# pem files
captionai.pem

# ecs files
/prod/ecs/

# sample env files
prod/sample.env